@media only screen and (max-device-width: 450px) {
  h1 {
    text-align: center;
  }

  h2 {
    line-height: 64px;
    font-size: 68px;
  }

  a {
    font-size: 28px;
    color: #1e1e1e;
  }

  p {
    font-size: 24px;
  }

  h5 {
    font-size: 36px;
  }

  p.card {
    font-size: 24px;
    margin-top: 12px;
  }

  button {
    height: 80px;
    font-size: 24px;
  }

  .content-conteiner {
    width: 94vw;
    max-width: 94vw;
  }

  .barra-navegação {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .titulo-navegação {
    font-size: 32px;
  }

  .links-navegação {
    display: none;
  }

  .section-hero {
    height: 75vh;
  }

  .hero-info-title {
    font-size: 56px;
    margin-top: 12px;
  }

  .hero-info-subtitle {
    font-size: 32px;
    line-height: 36px;
    max-width: 70%;
    margin-bottom: 40px;
  }

  .hero-info-text-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin-top: 24px;
  }

  .hero-info-icons-img {
    width: 56px;
    height: 56px;
    margin-left: 132px;
  }

  .hero-info-icons-conteiner {
    margin-top: 40px;
    width: 55%;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 156px;
  }

  .hero-info-image {
    width: 250px;
  }

  .section-abilities {
    padding-top: 50px;
    margin: 0px;
  }

  .ability-cards-conteiner {
    grid-template-columns: auto auto;
    row-gap: 32px;
    margin-top: 44px;
    width: 100%;
  }

  .ability-card {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
  }

  .section-portfolio {
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }

  .section-portfolio-grid {
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 36px;
    margin-top: 40px;
  }

  .section-portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46vw;
    height: auto;
    padding: 24px 0px;
  }

  .section-portfolio-card-link {
    width: 40%;
  }

  .section-portfolio-card-icon-image {
    width: 40px;
    height: auto;
  }

  .section-experiences {
    padding-top: 150px;
  }

  .section-experiences-card {
    width: 90vw;
  }

  .section-experiences-card-title {
    font-size: 24px;
  }

  .section-experiences-card-subtitle {
    font-size: 18px;
  }
  foo .section-experiences-card-text {
    font-size: 16px;
  }

  .section-contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-content {
    width: 94vw;
    justify-content: center;
  }
}
